.heart-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 150px;

    .heart {
        background-color: rgb(202, 56, 3);
        position: relative;
        height: 50px;
        width: 50px;
        transform: rotate(-45deg) scale(1);
        animation: pulse 1s linear infinite;
    }

    @keyframes pulse {
        0% {
            transform: rotate(-45deg) scale(1);
        }

        10% {
            transform: rotate(-45deg) scale(1.1)
        }
    }

    .heart::after {
        background-color: inherit;
        border-radius: 50%;
        content: '';
        position: absolute;
        top: -50%;
        left: 0;
        height: 50px;
        width: 50px;
    }

    .heart::before {
        background-color: inherit;
        border-radius: 50%;
        content: '';
        position: absolute;
        top: 0;
        right: -50%;
        height: 50px;
        width: 50px;
    }
}
