.main-user-container {
    width: 50%;
    margin: 0 auto;
}

.user-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info-wrapper {
    background-color: rgba(120, 156, 96, 0.5);
    width: 50%;
    border-radius: 10px;
    padding: 20px;
    height: 250px;
    margin-top: 50px;

    .content {
        color: white;
        font-size: 20px;
        
    }
}
.user-img-wrapper img {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        background-size: cover;
        margin-top: 70px;
    }